<form method="post" action="{{ path('motor_delete', {'id': motor.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ motor.id) }}">
    <button class="btn">Delete</button>
</form>
